<section id="articles">
  <% for article in articles[0...1] %>  
    <article class="post">
      <header>
        <h1><a href="<%= article.path %>"><%= article.title %></a> &raquo;</h1>
        <span class="date"><%= article.date %></span>
      </header>
	<section class="content">
    <%= article.summary %>
	</section>
      
    </article>
  <% end %>
</section>

<section id="archives">
  <%= archives[1..-1] %>
</section>
<a href="/archives" class="archive">archivio &raquo;</a>