<h2 class="title">Risultati per <em>"<%= env['QUERY_STRING'].to_s.gsub('q=', '') %>"</em></h2>

<% if archives.length > 0 %>
<ul class="archives">
<% for article in archives %>
<li>
    <h3><a href="<%= article.path %>"><%= article.title %></a> &raquo;</h3>
    <span class="date"><%= article.date %></span>
</li>
<% end %>
</ul>
<% end %>