body {
  margin: 0 auto;
  font-family: "Minion Pro", 'Baskerville', Georgia, Times, serif;
  font-size: 16px;
  line-height: 24px;
  padding: 15px;
  width: 720px;

}
header, footer, section, article { display: block; }

a { color: #8B9BA3; }
h1 a, h2 a { color: black; text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4 { display: block; margin: 0;padding:0; font-weight: 600;}
ul, li { list-style-type: none; }
code { font: 'Espresso Mono', 'Panic Sans', 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono; }
pre { padding: 5px; font-size: 14px; }
blockquote { font-style: italic; }

body > header
{
	display: block;
	padding: 15px 0;
}
body > header > h1, body > header > h2 { font-size: 36px; }
body > footer
{
	text-align: left;
	font-style: italic;
	font-size: 18px;
	color: #888;
}

h2.title { color: #8B9BA3; padding: 15px 0; }
section.content { padding-left: 25px; }
section#archives { padding: 10px 0 0; border-top: 1px solid #333; }

.date { font-style: italic; display: block; }
article.post {font-size: 16px;}
article.post h1 { font-size: 28px; }
article.post h2 { font-size: 24px; }
article.post h3 { font-size: 20px; }
article.post header { padding-bottom: 20px; }
article.post:first-child { padding-top: 20px; }
article.post:last-child { padding-bottom: 20px; }
article.post p code { font-size: 12px; background: #efefef; }

//disqus
ul#dsq-footer {display: none !important;}