<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/coderay.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
  	<header><h1><a href="/"><%= @config[:title] %></a></h1></header>
    <section>
      <%= yield %> 
    </section>
    <footer>
      <strong>❤ keepitterron</strong> on
      <a href="http://it.linkedin.com/in/claudiosemeraro" title="LinkedIn Claudio Semeraro">linkedin</a> |
      <a href="http://facebook.com/keepitterron" title="Facebook di Claudio Semeraro">facebook</a> |
      <a href="http://twitter.com/keepitterron" title="Twits di Claudio Semeraro">twitter</a>
    </footer>
  </body>
</html>

